<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dealership Review-About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Dealership Review</a>
            <div class="navbar-nav">    
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" style="margin-right:10px" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin-right:10px" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin-right:10px" href="#">Contact Us</a>                
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron rounded-lg">
            <h4 class="display-4">About Us<h4> 
            <p class="lead">Welcome to Best Cars dealership,
                home to the best cars in North America. 
                We sell domestic and imported cars at reasonable prices.
            </p>
            <hr class="my-4">
            <button type="button" class="btn btn-info collapsable" data-toggle="collapse" data-target="#learnMore">Learn More</button>
                <div class="collapse content" id="learnMore">
                    <p>Hello World!</p>
                </div>
        </div>
    </body>

</html>
